@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Paytone+One&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-serif: Paytone One, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.625rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --color-shadow-color: var(--shadow-color);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-reddish: var(--reddish);
  --color-bluish: var(--bluish);
  --color-yellowish: var(--yellowish);
  --color-orangy: var(--orangy);
  --color-purply: var(--purply);
  --color-creamy: var(--creamy);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.9761 0 0);
  --foreground: oklch(0.2442 0.0064 0.59);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.6644 0.1197 177.64);
  --primary-foreground: oklch(1 0 0);
  --bluish: oklch(0.7206 0.1353 225.97);
  --reddish: oklch(0.5308 0.2178 29.23);
  --yellowish: oklch(0.8286 0.1622 81.08);
  --orangy: oklch(0.7114 0.1855 45.28);
  --purply: oklch(0.5425 0.1143 300.99);
  --creamy: oklch(0.9642 0.0345 98.06);
  --secondary: oklch(0.2442 0.0064 0.59);
  --secondary-foreground: oklch(0.9642 0.0345 98.06);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.4886 0.0041 354.83);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.2442 0.0064 0.59);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Paytone One, ui-sans-serif, sans-serif, system-ui;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.162 0.0039 345.77);
  --foreground: oklch(0.9761 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --input: oklch(0.325 0 0);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Paytone One, ui-sans-serif, sans-serif, system-ui;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans;
    letter-spacing: var(--tracking-normal);
  }
}
